/* Germania Font */
@import url('https://fonts.googleapis.com/css?family=Germania+One');
/* font-family: 'Germania One', cursive; */

/* Bree Serif Font */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
/* font-family: 'Bree Serif', serif; */

/* Abril Fatface Font */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
/* font-family: 'Abril Fatface', cursive; */

#root {
  background-color: #DFDCCB;
  background: linear-gradient(to left bottom, #DFDCCB 0%, #9E945C 100%);
  height: 100vh;
  overflow: auto;
  .container {
    width: 40%;
    margin: 0 auto;
    padding: 0 50px;
    background-color: #000;
    background: linear-gradient(to top left, #404006 0%, #000000 100%);
    font-family: 'Abril Fatface', cursive;
    box-shadow: 1px 0px 25px #000; 
    height: 100vh;
    overflow: auto;  

    /* Beers List Page */
    .title {
      color: #cdb177;
      text-align: center;
      font-family: 'Germania One', cursive;
      font-size: 4em;
      margin: 0;
      padding: 20px 0;
    }
    .quote {
      font-family: 'Bree Serif', serif;
      color: #9E945C;
      h4 {
        font-size: 1.2em;
        margin-bottom: 0;
      }
      p {
        margin-top: 5px;
        font-size: 1em;
        text-align: right !important;        
        padding-right: 15px;
      }
      hr {
        width: 25%;
        margin: 0 auto;
        margin-top: 40px;
        border-color: #DFDCCB;
      }
    }
    /* Beer List */
    .beer-list {
      list-style: none;
      padding: 1px 0 30px 0;
      margin-bottom: 0;
      h2 {
        text-align: center;
        color: #DFDCCB;
        font-size: 1.5em;
      }
      .beer-item-list { 
        width: 65%;              
        a {
          text-decoration: none;
          text-align: left;
          color: #DFDCCB;
          font-size: 1.2em;
          p {
            margin-bottom: 0;
            span {
              font-size: 0.7em;
              color: #BFB8A1;
              padding-left: 10px;   
              border-left: 2px solid #DFDCCB;
              transition: color 0.8s ease;
            }
          }
          &:hover, &:active {
            color: #fff;
            p {
              span {
                color: #DFDCCB;
              }
            }
          }
        }
      }
    }
    /* End Beers List Page */

    /* Beer Details Page */
    .product-details {
      color: #DFDCCB;
      padding: 30px 0;
      h1 {
        margin-top: 0;
        text-align: center;
        font-size: 3em;
        line-height: 50px;
      }
      h4 {
        font-size: 1.5em;
        margin-bottom: 0;
      }
      h5 {
        margin: 0;
        font-size: 1.2em;
      }
      p {
        font-size: 1em;
      }
      .beer-img {
        text-align: center;
        background-color: #DFDCCB;
        border-radius: 5px;
        padding: 20px 20px;
        img {
          max-width: 80%;
        }
      }
    }
    /* End Beer Details Page */
  }  
}

/* Media Queries */
@media screen and (max-width: 768px) {
  #root {
    .container {
      width: 70%;
    }
  }
}

@media screen and (max-width: 480px) {
  #root {
    .container {
      width: 95%;
      padding: 0;
      .title {
        font-size: 3em;
      }
      .quote, .beer-list, .product-details {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}
